{% extends 'nav_bar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<h1 class="title">Регистрация</h1>

<div class="form">
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <h2 class="title">Регистрация</h2>

        <h2 class="input-title">Имя<span>*</span></h2>
        {{ form.first_name }}

        <h2 class="input-title">Фамилия</h2>
        {{ form.last_name }}

        <h2 class="input-title">Логин(Email) <span>*</span></h2>
        {{ form.email }}

        <h2 class="input-title">Дата рождения<span>*</span></h2>
        {{ form.admin_birthday }}

        <h2 class="input-title">Должность(Звание)<span>*</span></h2>
        {{ form.rank }}

        <h2 class="input-title">Пароль <span>*</span></h2>
        {{ form.password1 }}

        <h2 class="input-title">Пароль2 <span>*</span></h2>
        {{ form.password2 }}

        <div class="row">
            <div class="col-auto">
                <div class="next-1">
                    <h2>{{ form.admin_gender.label_tag }}</h2>
                    {% for choice in form.admin_gender %}
                        <div class="choice_row">
                            {{ choice.tag }}
                            <label for="id_gender{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>    

        {{ form.admin_image }}
        <!-- <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit">Upload</button>
          </form>
          
          {% if img_obj %}
            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
          {% endif %} -->

        <input id="send" type="submit" value="Зарегистрироваться" >
        {% for error in form.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </form>
</div>

{% load static %}
<script src="{% static 'js/inputReg.js' %} "></script>

{% endblock %}
