<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_cabinet.css' %}">
    <title>ГосНадзор</title>
</head>
<body class="container">
    <div class="header">
        <a class="header_container" href="http://127.0.0.1:8000/login/">главная</a>
        <a class="last" href="{% url 'logout' %}">выйти</a>
        <div class="avatar">
            {% load static %}
                <img id="avatar-img" src="{{ image.url }}" alt="Persons photo">
        </div>
    </div>
    <div class="events">
        <div class="row-event">
            <img src="{% static 'assets/img/zek.png' %}" alt="zek">
            <button id="button-start" class="button-start" data-toggle="modal" data-target="#exampleModal">
                <a class="zk" href="#">мои подопечные</a>
            </button>
        </div>
        <div class="row-event">
            <img src="{% static 'assets/img/Без имени-1.png' %}" alt="lupa">
            <button id="button-start" class="button-start" data-target="#exampleModal">
                <a  href="{% url 'dashboard' %}">Создать событие</a>
            </button>
        </div>
        <div class="row-event">
            <img src="{% static 'assets/img/plusik.png' %}" alt="plus">
            <button id="button-start" class="button-start"  data-target="#exampleModal">
                <a href="{% url 'sign_up_prisoner' %}">новый пользователь</a>
            </button>
        </div>
    </div>
    <div class="information_container">
        <div class="info_left">
            <div class="self_info">
                {% load static %}
                <img id="avatar-img" src="{{ image.url }}" alt="Persons photo">
            </div>
        </div>
        <div class="info_right">
            <h2 class="self_info"> Личная информация</h2>
            <div class="information">
                <div class="data">
                    <h3>Имя:</h3> 
                    <p> {{ user.get_full_name }}</p>
                </div>
                <div class="data">
                    <h3>Электронный адрес:</h3> 
                    <p> {{ user.email }}</p>
                </div>
                <div class="data">
                    <h3>Звание:</h3> 
                    <p> {{ rank }}</p>
                </div>
                <div class="data">
                    <h3>Дата рождения:</h3> 
                    <p> {{ birthday }}</p>
                </div>
                <div class="data">
                    <h3>Пол:</h3> 
                    <p> {{ gender }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="soon">
        <h3>Ближайшие события -></h3>
    </div>
    <div class="bottom">

    </div>
</body>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <h2 class="prison_header">мои подопечные</h3>
        {% if object_list %}
            {% for prisoner in object_list %}
            <div class="row">
                <div class="col col-right">
                    <div class="row-element">
                        <div class="prisoner_information">
                            <div class="prisoner_photo">
                                {% load static %}
                                <img id="avatar-img" src="{{ prisoner.user.image.url }}" alt="Persons photo">
                            </div>
                            <div class="prisoner_text">
                                <div class="prisoner_data">
                                    <div class="data">
                                        <h3>Имя:</h3> 
                                        <p> {{ prisoner.user.get_full_name }} </p>
                                    </div>
                                </div>
                                <div class="prisoner_data">
                                    <div class="data">
                                        <h3>Дата рождения:</h3> 
                                        <p> {{ prisoner.birthday }} </p>
                                    </div>
                                </div>
                                <div class="prisoner_data">
                                    <div class="data">
                                        <h3>Пол:</h3> 
                                        <p> {{ prisoner.gender }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="no_data">
            <p> К сожалению, тут пусто </p>
            <img src="{% static 'assets/img/no_data.png' %}" alt="nodata">
        </div>
        {% endif %}
    </div>
</div>

<!--JQuery-->
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<!--bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">

</html>