{% extends "nav_bar.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
<script src="{% static 'js/cabinet.js' %}"></script>

<h1>Личный кабинет</h1>
<div class="row">
    <div class="col-auto">
        {% if doctor.photo %}
            <img src="{{doctor.photo.url}}" alt="photo">
        {% else %}
            <img src="{% static 'assets/svg/profile_photo.svg' %}" alt="photo">
        {% endif %}
    </div>
    <div class="col-auto">
        <div id="id_personal_info">
            <h2>{{ doctor.full_name }}
                {% load static %}
                <button id="id_editing_start"><img src="{% static 'assets/svg/editor.svg' %}" alt="Edit icon"></button>
            </h2>
            <p>{{ doctor.qualification }}</p>
            <p class="first">Стаж: {{ doctor.experience }}</p>
            <p>Место работы: {{ doctor.work_place }}</p>
            <p>Образование: {{ doctor.education }}</p>
            <p>Контакты: {{ doctor.contacts }}</p>
        </div>
        <form action=""
              method="post"
              enctype="multipart/form-data"
              id="id_edit_form">
            {% csrf_token %}
            <h2>ФИО: {{ form.full_name }}
                {% load static %}
                <button id="id_cancel_editing"><img src="{% static 'assets/svg/editor.svg' %}" alt="Edit icon"></button>
            </h2>
            <p>Специальность: {{ form.qualification }}</p>
            <p class="first">Стаж: {{ form.experience }}</p>
            <p>Место работы: {{ form.work_place }}</p>
            <p>Образование: {{ form.education }}</p>
            <p>Контакты: {{ form.contacts }}</p>
            <input type="submit" value="Сохранить"/>
        </form>
    </div>
</div>

<div class="history">
    <div class="row search">
        <div class="col-auto d-flex align-items-center">
            {% load static %}
            <img src="{% static 'assets/svg/loupe-grey.svg' %}" alt="Loupe icon">
        </div>
        <div class="col-auto p-0">
            <input id="searchLine" type="text" placeholder="Поиск">
        </div>
    </div>

    <ul>
        {% for treatment in history %}
        <li>
            <div class="row">
                <div class="col-auto d-flex align-items-center">
                    {% load static %}
                    <img src="{% static 'assets/svg/Folder.svg' %}" alt="Folder ico">
                </div>
                <div class="col-auto d-flex align-items-center">
                    {% if treatment.patient.full_name %}
                    <a href="{% url 'treatment_detail' treatment.id %}">{{ treatment }}</a>
                    {% else %}
                    <a href="{% url 'treatment_detail' treatment.id %}">Подробности не указаны</a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% load static %}
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}