{% extends 'nav_bar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reference.css' %}">
<h1>Справка</h1>
<div class="text">
    <h2>Ввод данных:</h2>
    <p>• В разделе данные о пациенте введите все известные параметры.
        • Время от начала симптоматики вводится в часовом формате.
        • Если время начала симптоматики неизвестно, оставьте поле незаполненным.
        • Если по снимку компьютерной томографии есть подозрение на наличие внутримозговой гематомы, следует измерить её
        объём.
        • Объём гематомы следует измерять по формуле
        АВС/2, где А - наибольший диаметр, В - перпендикулярный диаметр по
        отношению к А, С - количество срезов×толщина среза.
        • Уровень сознания пациента указывается в соответствие со шкалой комы Глазго по данным неврологического
        обследования.
        • В анамнезе можно отметить сразу несколько патологий и иных противопоказаний или отметить их
        отсутствие/неизвестность.
    </p>

    <h2>Загрузка снимков:</h2>
    <p>• Проведите предварительную обработку снимков в режиме MPR в программе для обработки DICOM файлов. Мы рекомендуем
        использовать Radiant DICOM Viewer.
        • Для обработки снимка в MPR следуйте следующим рекомендациям:
        На фронтальном срезе вертикальную прямую следует расположить по центру мозговых структур, а горизонтальную
        плоскость на уровне клиновидных костей черепа с соответствующим наклоном.
    </p>
    <div class="row">
        <div class="col">
            <img src="{% static 'assets/img/help-1.jpg' %}" alt="Help 1">
        </div>
    </div>
    <p>На сагитальном срезе расположите горизонтальную прямую на уровне переносицы</p>
    <div class="row">
        <div class="col">
            <img src="{% static 'assets/img/help-3.jpg' %}" alt="Help 1">
        </div>
    </div>
    <p>На аксиальной плоскости горизонтальную прямую расположите по середине среза,т.е на уровне ушных раковин, с
        соответствующим наклоном. Вертикальную прямую расположите по центру среза головного мозга.
        В итоговом варианте глазные яблоки на аксиальном срезе должны быть равного диаметра на всех уровнях.
    </p>

    <div class="row">
        <div class="col">
            <img src="{% static 'assets/img/help-2.jpg' %}" alt="Help 1">
        </div>
    </div>

    <p>Аксиальный срез расположите по центру рабочей поверхности, включите режим Brain, скройте оси. </p>


    <p>•	Загрузите один обработанный снимок аксиального среза головного мозга с наибольшей визуализацией поражения в формате jpg</p>


    <div class="row">
        <div class="col">
            <img src="{% static 'assets/img/help-1.jpg' %}" alt="Help 1">
        </div>
        <div class="col">
            <img src="{% static 'assets/img/help-2.jpg' %}" alt="Help 2">
        </div>
        <div class="col">
            <img src="{% static 'assets/img/help-3.jpg' %}" alt="Help 3">
        </div>
    </div>
</div>

{% endblock %}