label, h2, h3
{
  font-family: "Montserrat";
  margin-top: 2%;
}

.container-custom {
  padding-left: calc(150px * 1);
  padding-right: calc(150px * 1);
  background-color: #fafafa;
}

.progress {
  margin-top: calc(15px * 1);
  margin-left: 34%;
  height: calc(85px * 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
}

#upper_form .col-one {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-left: 37%;
}

#upper_form .col-one h2 {
  color: #949494;
  font-size: calc(16px * 1);
}

#upper_form .col-one input[type="text"] {
  margin-top: calc(9px * 1);
  outline: none;
  width: calc(335px * 1);
  height: calc(60px * 1);
  border: none;
  -webkit-box-shadow: 0 calc(6px * 1) calc(18px * 1) rgba(0, 0, 0, 0.16);
          box-shadow: 0 calc(6px * 1) calc(18px * 1) rgba(0, 0, 0, 0.16);
  border-radius: calc(10px * 1);
  background-color: white;
  padding-left: calc(20px * 1);
  font-weight: 500;
  color: #2e2e2e;
}

#upper_form .col-one input[type="text"].num {
  width: calc(135px * 1);
}

#upper_form .col-one input[type="text"].num-2 {
  width: calc(235px * 1);
}

#upper_form .next-1 {
  margin-top: calc(36px * 1);
}

#upper_form .next-1 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: calc(16px * 1);
}

#upper_form .next-1 .row {
  margin-top: calc(20px * 1);
}

#upper_form .next-1 .row input[type="radio"] {
  background-color: black;
  width: calc(18px * 1);
  height: calc(18px * 1);
}

#upper_form .next-1 .row label {
  font-weight: 500;
  margin-left: calc(5px * 1);
}

#upper_form .next-1 label {
  margin-bottom: 0;
}

#image_block .cloud {
  margin-top: calc(15px * 1);
  margin-bottom: 0;
  width: calc(1240px * 1);
  height: calc(480px * 1);
  -webkit-box-shadow: 0 0 calc(50px * 1) rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 calc(50px * 1) rgba(0, 0, 0, 0.08);
  border-radius: calc(30px * 1);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#image_block .cloud img {
  width: calc(300px * 1);
  height: calc(200px * 1);
}

#image_block .cloud h2 {
  font-weight: 700;
  color: #aaaaaa;
  margin-top: calc(13px * 1);
}

#image_block .cloud .select {
  width: calc(280px * 1);
  height: calc(61px * 1);
  border-radius: calc(10px * 1);
  background-color: #c4c4c4;
  margin-top: calc(20px * 1);
  cursor: pointer;
}

#image_block .cloud .select p {
  color: white;
  font-weight: 700;
  font-size: calc(21px * 1);
  text-align: center;
  margin-top: calc(13px * 1);
}

#image_block #id_snapshot {
  display: none;
}

#image_block #file-list {
  margin-top: calc(15px * 1);
  width: calc(1240px * 1);
  height: calc(480px * 1);
  -webkit-box-shadow: 0 0 calc(50px * 1) rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 calc(50px * 1) rgba(0, 0, 0, 0.08);
  border-radius: calc(30px * 1);
  background-color: #ffffff;
  display: none;
  visibility: hidden;
  opacity: 0;
}

#image_block #file-list .file {
  padding-top: calc(35px * 1);
  margin-left: calc(35px * 1);
}

#image_block #file-list .file img {
  width: calc(56px * 1);
  height: calc(70px * 1);
}

#image_block #file-list .file img#trash-btn {
  cursor: pointer;
}

#image_block #file-list .file .col-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image_block #file-list .file .col-auto p {
  font-weight: 700;
  font-size: calc(24px * 1);
  margin: 0;
}

#image_block .footer {
  width: 78vw;
  position: fixed;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#image_block .footer .col-1 {
  max-width: calc(270px * 1);
  height: calc(59px * 1);
  border-radius: calc(10px * 1);
  padding-top: calc(18px * 1);
  background-color: #ffffff;
  cursor: pointer;
}

#image_block .footer .col-1 div {
  text-decoration: none;
  text-align: center;
}

#image_block .footer .col-1 div p {
  font-weight: 700;
  font-size: calc(16px * 1);
  color: #aaaaaa;
  text-transform: uppercase;
}

#image_block .footer .col-2 {
  width: calc(251px * 1);
  height: calc(59px * 1);
  border-radius: calc(10px * 1);
  padding-top: calc(16px * 1);
  background-color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#image_block .footer .col-2 label {
  background-color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image_block .footer .col-2 label p {
  font-weight: 700;
  font-size: calc(16px * 1);
  color: #aaaaaa;
  text-transform: uppercase;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#image_block .footer .col-2 input[type=submit] {
  display: none;
}
