{% extends 'base.html' %}
{% load static %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}
{% block content %}

<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Добро Пожаловать, {{ request.user }}</span>
    <div class="button_holder">
        <a class="btn btn-primary" href="{% url 'calendarapp:calendars' %}?{{ prev_month }}"> << Предыдущий Месяц </a>
        <a class="btn btn-primary" href="{% url 'calendarapp:calendars' %}?{{ next_month }} "> Следующий Месяц >> </a>
        {% if user.is_staff %}
        <a class="btn btn-primary" href="{% url 'calendarapp:event_new' %}"> + Новое Событие </a>
        {% endif %}
        <a class="btn btn-primary" href="#">
            <input type=button value="Назад" onClick="javascript:history.go(-1);">
        </a>
        <a class="btn btn-primary" href="{% url 'logout' %}"> Выход</a>
    </div>
</div>
<div style="color: rgb(88, 88, 248);">
    {{ calendar }}
</div>
{% load static %}
<script src="calendarapp\static\calender\ind.js"></script>
{% endblock %}

