{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary" href="{% url 'calendarapp:calendars' %}"> Календарь </a>
            {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'calendarapp:event_edit' meeting.pk %}"> Изменить Событие </a>
            <a class="btn btn-primary" href="{% url 'calendarapp:remove_meeting' meeting.pk %}"> Удалить событие </a>
            {% endif %}
        </div>

        <div class="clearfix">
            <h3>Название События: {{ meeting.theme }}</h3>
            <p>Начало: <span style="color: #0a68da;">{{ meeting.start_time }}</span> Конец: <span style="color: #0a68da;">{{ meeting.end_time }}</span></p>
            <hr>
            <p>{{ meeting.description }}</p>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Участники События</h4>
            {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'calendarapp:add_eventmember' meeting.id %}"> Добавить Участника </a>
            {% endif %}
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Имя</th>
                  <th>Email</th>
                  {% if user.is_staff %}
                  <th>Редактировать</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for prisoner in prisoners %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ prisoner.user.first_name }} {{ prisoner.user.last_name }}</td>
                    <td>{{ prisoner.user.email }}</td>
                    {% if user.is_staff %}
                    <td>
                        <a class="btn btn-primary" href="{% url 'calendarapp:remove_prisoner' prisoner.id %}">Удалить</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}
